* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Public Sans";
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.header__link {
    color: rgb(55, 84, 109);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    opacity: 0.7;
    text-decoration: none;
}

.header__btn {
    max-width: 173px;
    border-radius: 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background-color: #ba4270;
    color: #fbfcfe;
    font-family: "Public Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.12px;
    border: none;
    padding: 10px;

}

.header__burger {
    background-color: transparent;
    border: none;
    display: none;
}

@media (max-width: 630px) {
    .header__burger {
        display: block;
    }

    .header__list {
        display: none;
    }
}

.hero {
    padding-top: 58px;
    padding-bottom: 177px;
}

.text__box {
    max-width: 546px;
    width: 100%;
    margin-bottom: 681x;
}

.hero__title {
    color: #36536b;
    font-family: "DM Serif Display";
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.55px;

}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 880pxpx) {
    .hero__wrapper {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
    }

    .hero__title {
        font-size: 48px;

    }

    .hero__img {
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
    }
}

.easy {
    padding-bottom: 180px;
}

.easy__textbox {
    max-width: 445px;
    width: 100%;

}

.easy__title {
    color: #36536b;
    font-family: "DM Serif Display";
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.37px;
    margin-bottom: 24px;

}

.easy__text {
    color: rgba(108, 130, 148, 1);
    font-family: "Public Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;

}

.easy__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

@media (max-width: 990px) {
    .easy__wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .easy__img {
        max-width: 391px;
        width: 100%;
        margin: 0 auto;
    }

    .easy__title {
        font-size: 36px;
    }
}

.ota {
    display: flex;
    justify-content: center;
    gap: 281px;
}


.oxirgitext {

    color: #36536b;
    font-family: Public Sans;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    padding-top: 32px;

}
@media (max-width: 640px) {
    .ota {
        flex-direction: column;
        align-items: center;
        gap: 220px;
    }

    .bola {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .oxirgingram {
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
}

.footer {
    background-color: #000000;
    padding: 30px 0;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.footer_logo {
    width: 60px;
}
.footer_menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.footer_menu li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}


.footer_socials {
    display: flex;
    gap: 20px;
}

.footer_socials img {
    width: 28px;
    cursor: pointer;
}


@media (max-width: 640px) {
    .footer_container {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .footer_menu {
        flex-direction: column;
        gap: 10px;
    }
}
